### Type to print value of variable inside print statement
#### 1. Using .format
#### 2. Using f letter inside print()

In [1]:
name = "Mahesh"
age = 19
degree = "BTECH"

In [2]:
print("My age is {} and i have completed: my degree of {} with name of {}".format(age, degree, name))

My age is 19 and i have completed: my degree of BTECH with name of Mahesh

In [3]:
print(f"age = {age}, name = {name}, degree = {degree}")

age = 19, name = Mahesh, degree = BTECH

In [4]:
print("My age is {Age} and i have completed: my degree of {Degree} with name of {Name}".format(Age = age, Degree = degree, Name = name))

My age is 19 and i have completed: my degree of BTECH with name of Mahesh

### Taking input

In [5]:
name = input("Enter name")

Enter name Mahesh

In [6]:
name

'Mahesh'

In [7]:
age = int(input("Enter age"))

Enter age 18

In [8]:
type(age)

int

## Task 1 
1 take input of age.
2 check whether age >=18 and age <=45.
3 display you are young blood.

In [9]:
## if 
age = int(input("Enter age"))
if age>=18 and age<=45 :
    print("you are young blood")

Enter age 19

you are young blood

## Task 2
in mall, input product price
if product > 1000rs 20% off  
else product <= 1000rs 30% off
print product price

In [11]:
product_price = int(input("Enter product price"))
if product_price>1000:
    print("The price of product is {}".format(product_price*0.8))
else:
    print("The price of product is {}".format(product_price*0.7))

Enter product price 1002

The price of product is 801.6

## Task 3
in mall, input product price
if product > 3000 rs 20% off  
else if product >= 2000rs and product <= 3000rs 30% off 
else product >= 1000rs  and <=2000 rs 40% off
print product price

## Note - 
1. if we use if, if, .... instead of 2. if, elif, elif, ..., else.
in 1 example it each every condition while executing.
in 2nd ex. if condition executed it skips other elif and else statements time and memory get saved.

In [14]:
product_price = int(input("Enter product price"))
if product_price>3000:
    if product_price == 4000:
        print("you get goa trip")
    print("The price of product is {}".format(product_price*0.8))
elif product_price>=2000 and product_price<=3000:
    if product_price == 2999:
        print("you get an addtional gift")
    print("The price of product is {}".format(product_price*0.7))
elif product_price>=100 and product_price<2000:
    print("The price of product is {}".format(product_price*0.6))
else:
    print("drink tea")

Enter product price 4000

you get goa trip
The price of product is 3200.0

## Single statement Suit

In [15]:
val = int(input("Enter number"))
if(val<=999):print("Value less than equal to 999")
else:
    print("Home")

Enter number 56

Value less than equal to 999

## Loops Statement
1. while loop
2. for loop
3. nested loops
4. loop control (break, continue, pass)

In [17]:
# while loop
joining_age = 50
i = 1
while joining_age<=60:
    print(joining_age)
    joining_age=joining_age+1
else:
    print("Its time to retire.")

50
51
52
53
54
55
56
57
58
59
60
Its time to retire.

## List accessing using for loop

In [20]:
lst = ['mahesh', 1, 2, 3, 'apple', 'banana']

In [21]:
for x in lst:
       print(x)

mahesh
1
2
3
apple
banana

In [22]:
for a in lst:
    print(a)
    if a=="mahesh":
        print("name is mahesh")

mahesh
name is mahesh
1
2
3
apple
banana

In [24]:
## string - collection of element
fruit = 'mango'
for x in fruit:
    print(x)

m
a
n
g
o

In [25]:
fruit[2]

'n'

In [27]:
## Range
for i in range(1,6):
    print(i)

1
2
3
4
5

In [28]:
## with stepsize
for i in range(1,6,2):
    print(i)

1
3
5

In [30]:
### Nested loops
n = 7

for i in range(0, n):
    for j in range(0,i+1):
        print("*", end="")
    print("\r")

*
**
***
****
*****
******
*******

In [45]:
## equilateral triangular form 
n = 5
for i in range(1, n+1):
    for j in range(n - i):
        print(' ', end='')
    for k in range(2 * i - 1):
        print('*', end='')
    print("\r")

    *
   ***
  *****
 *******
*********

In [37]:
for i in range(0, 7, 2):
    for j in range(0,i+1):
        print("*", end="")
    print("\r")

*
***
*****
*******

In [38]:
## Loop controls
## break and continue
fruits = ['Mango', 'apple', 'chiku']
for i in fruits:
    if i=="apple":
        print("appple")
        break;
    print(i)

Mango
appple

In [39]:
fruits = ['Mango', 'apple', 'chiku']
for i in fruits:
    if i=="apple":
        print("appple")
        pass;
    print(i)

Mango
appple
apple
chiku

In [40]:
fruits = ['Mango', 'apple', 'chiku']
for i in fruits:
    if i=="apple":
        print("appple")
        continue;
    print(i)

Mango
appple
chiku