### Functions

In [1]:
l = [1,2,3,4,5]
len(l)

5

In [2]:
#declaring function
def test():
    pass

In [3]:
#declaring and defining function
def test1():
    print("1st function")

In [5]:
test1()   #function call

1st function

In [6]:
## function always tries to increase reusability.

In [9]:
#test1() + "mahesh"   # gives error unsupported operand type
# concatenation is not possible between 'NoneType' and 'str'
# as test1() is only performing print operation it is of NoneType.
# As print by default wants to return None type

In [10]:
def test2():
    return "this is my function with return"

In [11]:
test2()

'this is my function with return'

In [12]:
test2() + "mahesh"

'this is my function with returnmahesh'

In [13]:
# you to return instead print when you define a function

In [14]:
def test3():
    return 1, 4, "pwskills", 34.56  # giving multiple return with a different datatypes

In [15]:
test3()

(1, 4, 'pwskills', 34.56)

In [16]:
a = 1,2,3,4,5
a  # a try to hold every thing

(1, 2, 3, 4, 5)

In [17]:
a,b,c,d = 1,2,34.56,True

In [18]:
a

1

In [19]:
b

2

In [20]:
c

34.56

In [21]:
d

True

In [26]:
test3()   # returns data in form of tuple always

(1, 4, 'pwskills', 34.56)

In [23]:
test3()[0]

1

In [24]:
test3()[1]

4

In [25]:
test3()[2]

'pwskills'

In [27]:
a,b,c,d = test3() # assigning value to different variable.

In [28]:
a

1

In [29]:
b

4

In [30]:
c

'pwskills'

In [31]:
d

34.56

In [32]:
def test4():
    a = 3*4+5
    return a

In [35]:
type(test4()) # can be consume at any point of time

int

In [36]:
#passing argument
def test5(a,b):
    c = a+b
    return c

In [38]:
#test5()  # Type error it missing two required argument.

In [39]:
test5(1,3)

4

In [40]:
test5("mahesh ", "sathe")

'mahesh sathe'

In [42]:
test5([1,2,3,4], [5,6,7])  # performs list concatenation

[1, 2, 3, 4, 5, 6, 7]

In [43]:
test5(b = "mahesh", a = "sathe")

'sathemahesh'

In [44]:
l = [1,2,33,4,"mahesh", 'pwskilss', [1,2,3,4,5]]

In [48]:
#create a function which will take list as a input and give final list with only numeric values inside a list.

In [46]:
def test6(a):
    n = []
    for i in a:
        if type(i) == int or type(i) == float :
            n.append(i)
            
    return n

In [47]:
test6(l)

[1, 2, 33, 4]

In [49]:
# also extract as int in list inside list

In [50]:
l

[1, 2, 33, 4, 'mahesh', 'pwskilss', [1, 2, 3, 4, 5]]

In [51]:
def test7(a) :
    n = []
    for i in a :
        if type(i) == list :
            for j in i :
                if type(j) == int or type() == float :
                    n.append(j)
        else:
            if type(i) == int or type(i) == float :
                n.append(i)
    return n

In [52]:
test7(l)

[1, 2, 33, 4, 1, 2, 3, 4, 5]

In [2]:
def t(a,b,c,d,e):
    pass

In [3]:
# creating function which accept any no. of arguments without giving error

In [10]:
def t1(*args): #*args mean it able to take any number of arguments.
    return args

In [8]:
t1(1,2,3,4,5,5)

(1, 2, 3, 4, 5, 5)

In [9]:
t1("Mahesh", [1,2,3,4,4], (1,2,3,4,5))

('Mahesh', [1, 2, 3, 4, 4], (1, 2, 3, 4, 5))

In [13]:
# we can write anything instead of write args.
def t2(*mahesh):
    return mahesh

In [12]:
t2(33,44,5,5)

(33, 44, 5, 5)

In [14]:
def t3(*args,a):
    return args, a

In [17]:
#t3(3) - t3() missing 1 required keyword-only argument: 'a'

#### in above case we use
t3(1,2,3,4, a='mahesh')

In [21]:
# able to pass multiple datasets
def t4(*args) :
    l = []
    for i in args:
        if type(i) == list:
            l.append(i)
            
    return l

In [20]:
t4(1,2,3, [1,2,3,4,4], (1,2,3,4), 'Mahesh', [4,5,6])

[[1, 2, 3, 4, 4], [4, 5, 6]]

In [22]:
def t5(**kwargs): # ** kwargs means it accepts any number input in the form of key-value pairs
        return kwargs

In [23]:
t5()

{}

In [24]:
type(t5())

dict

In [29]:
t5(a = 34, b = 23, c = [1,2,3,4], d = ('mahesh', 'sathe'))

{'a': 34, 'b': 23, 'c': [1, 2, 3, 4], 'd': ('mahesh', 'sathe')}

In [30]:
# we can write anything instead of kwargs
def t6(**kwargs) :
    for i in kwargs.keys():
        if type(kwargs[i]) == list :
            return i, kwargs[i]

In [27]:
t6(a=34, b = 23, c = [1,2,3,4], d = ('mahesh', 'sathe'))

('c', [1, 2, 3, 4])

### *args - any number of inputs 
### **kwargs - any number of inputs in key value forms

In [31]:
def t7(*args, **kwargs) :
    return args, kwargs

In [33]:
t7(2,3,4,5, a=34,b=98)  #here we are able input both type of arguments single and key-value based also.

((2, 3, 4, 5), {'a': 34, 'b': 98})


### Genarator Function

In [37]:
range(1, 10) # if we want to generate values from it we have to perform for loop as given below

range(1, 10)

In [35]:
for i in range(1, 10):
    print(i)

1
2
3
4
5
6
7
8
9

In [36]:
l = [1,2,3,4,4,"mahesh","sathe"]

In [38]:
def p1(a) :
    n = []
    for i in a :
        if type(i) == int :
            n.append(i)
    return n

In [39]:
p1(l)

[1, 2, 3, 4, 4]

In [41]:
## for infinite element the above will infinite time to display result
## such function create bottleneck

In [44]:
## generator function - range like element gives element on iteration i.e generate data one-by one i.e it cant remeber whole data it generate one by one.

In [45]:
## for such functions we use 'yield' keyword
## also save main memory

In [46]:
# generate fibonacci series-

def test_fib(n) :
    a,b = 0,1
    for i in range(n):
        yield a  # it gives record one by one
        a,b = b, a+b

In [47]:
test_fib(10)

In [48]:
# for taking data out of generator function
for i in test_fib(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

In [50]:
##generator function - it will not prepared entire result at once
## optimizely use memory